<!-- views/partials/footer.ejs -->
    <div style="margin-top:20px" class="text-center">
        <p>A demo by Lucas Showerman.</p>
        <p>Refereneces: <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">Easy Node Authentication: Setup and Local</a>.</p>
        <a href="/logout" class="btn btn-light btn-sm">Logout</a>
    </div>
