<div class="jumbotron text-center">
    <h1>Chat Client</h1>
    <p>Login or Register with:</p>
    <a data-ui-sref="login" class="btn btn-light"><span class="fa fa-user"></span> Login</a>
    <a data-ui-sref="signup" class="btn btn-light"><span class="fa fa-user"></span> Signup</a>
</div>
