    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-light btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card card-body bg-light">
                <h3><span class="fa fa-user"></span> Local</h3>
                <div data-ng-show="user.local.username != null">
                    <strong>id</strong>: {{user._id}}<br /> 
                    <strong>username</strong>: {{user.local.username}}<br />
                    <strong>email</strong>: {{user.local.email}}<br />
                    <strong>password</strong>: {{user.local.password}}<br />
                    <a data-ui-sref="/unlink/local" class="btn btn-light">Unlink</a>
                </div>
            </div>
        </div>
    </div>
